header {
  height: 90px;
  margin-top: 30px;
}

header div {
  width: 901px;
  margin: 0 auto;
}

section {
  width: 901px;
  margin: 0 auto;
}

.half {
  height: 45px;
  width: 899px;
  float: left;
}

.logo {
  height: 45px;
  width: 200px;
  position: absolute;
  float: left;
}

.logo img{
  float: left;
}

.logo span {
  font-size: 10px;
  font-family: arial narrow;
  margin-left: 14px;
  position: relative;
  bottom: 14px;
  margin-left: 50px;
}

.logo h1{
  height: 45px;
  font-size: 40px;
  font-weight: bold;
  font-family: brush script mt, cursive;
  margin-left: 10px;
  float: left;
}

.top-fill {
  height: 45px;
  width: 663px;
  float: left;
}

.link-row {
  height: 45px;
  width: 236px;
  float: left;
}

.fill-bar {
  width: 901px;
  height: 31px;
  float: left;
}

header ul {
  padding-top: 10px;
}

header li {
  margin: .5px;
  display: inline-block;
}

header li:nth-child(7){
  margin-left:10px;
}

.gray-bar{
  width: 899px;
  height: 13px;
  float: left;
  background: #ccc;
}

.banner-top {
  height: 35px;
  width: 901px;
  float: left;
}

.banner-title {
  width: 300px;
  height: 55px;
  float: left;
}

.banner-title h1 {
  font-family: impact, sans-serif;
  font-size: 40px;
}

.banner-title span {
  font-family: helvetica;
  font-size: 12px;
  color: #888;
}

.banner-fill {
  height: 55px;
  width: 500px;
  float: left;
}

.banner-print {
  height: 15px;
  width: 99px;
  float: left;
  font-family: helvetica;
  text-align: right;
  padding-top: 40px;
  }

.banner-print span{
  font-size: 12px;
  color: #888;
}

.hero {
  margin-top: 45px;
  margin-bottom: 45px;
}

p {
  text-indent: 20px;
  margin-bottom: 45px;
  line-height: 150%;
  font-size: 20px;
  font-family: palatino, serif;
}

.ingredients {
  width: 859px;
  height: 273px;
  padding-left: 40px;
  padding-top: 32px;
  float: left;
  background-image: url("images/list-bg.png");
}

fieldset ul {
  width: 380px;
  float: left;
}

fieldset li {
  display: block;
  font-family: comic sans ms, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
}

footer{
  width: 901px;
  float: left;
}
